/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
nav{
    background-color: #333;
    margin-top: -30px;
}
/* Barra de navegación */
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    background-color: #333;
    padding: 10px 0;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

/* Encabezado */
header {
    text-align: center;
    padding: 50px 0;
    background-color: #f9f9f9;
}

h1 {
    font-size: 36px;
    margin-bottom: 10px;
    color: #fff;
}

.profile-picture img {
    border-radius: 50%;
    width: 300px;
    height: 300px;
    object-fit: cover;
    margin-bottom: 20px;
}

p {
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.felipe{
    font-weight: bold;
    font-size: 50px;
}

.ingeniero{
    font-size: 15px;
}

.social-icons a {
    margin-right: 10px;
}



/* Estilos específicos para la página "Sobre mí" */
.about-me {
    text-align: center;
    padding: 50px 0;
    background-color: #f9f9f9;
}

.about-me h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.profile-picture2 img {
    border-radius: 3%;
    width: 600px;
    height: 400px;
    object-fit: cover;
    margin-top: -50px;
    margin-bottom: 20px;
    flex-direction: row;
}

.about-me p {
    font-size: 16px;
    margin-bottom: 20px;
}

ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 10px 0;
}
li {
    margin-right: 20px;
}

p{
    width: 800px;
    margin-left: 300px;
}

/* Estilos específicos para la página "contacto" */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header, footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
}

a {
    color: #0074D9;
    text-decoration: none;
    padding: 10px ;
    margin-top: 20px;
}

.social-links ul {
    list-style: none;
    padding: 0;
    border: solid 2px black;
}

.social-links li {
    margin-bottom: 1rem;
}

.contactos{
    border: solid 2px black;
}


.job {
    border: 1px solid #ddd;
    padding: 1rem;
    margin-bottom: 1rem;
    width: 1000px;
}

.project {
    border: 1px solid #ddd;
    padding: 1rem;
    margin-bottom: 1rem;
    width: 1000px;
}